/* main {
    margin: 60px;


} */
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("../img/5276901-padrao-de-agua-textura-ondas-brilhantes-em-piscina-mar-ou-oceano-conceito-de-verao-vetor.jpg");
    background-size: contain;
}

.row {
    clear: both;
}

.col {
    background-color: rgb(17, 110, 106);
    max-width: 300px;
    height: 500px;
    border-radius: 30px;
    margin: 20px;

}

.img {
    width: 175px;
    height: 200px;
    margin-top: 15px;

}

.col p {
    text-align: left;
    margin-left: 15px;
    color: white;
}

h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
}

.span {
    color: white;
}

.descr {
    color: black;
}

.cabecalho {
    max-height: 75px;
    width: 100%;
    background-color: blueviolet;
}

.logotipo img {
    max-width: 75px;
    max-height: 75px;
}

.navbar {
    float: right;
    font-size: 25px;


}

.ul {
    display: flex;
    height: auto;
    width: auto;
}

.ul li {
    margin: 15px;


}

.ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    width: 100%;
    height: 100%;
}

.representacao {
    font-size: 75px;
    font-weight: bold;
    margin-left: 200px;
}

.sobre {
    width: 130vh;
    height: 100vh;
    background-color: #4b6596;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 250px;
    border-radius: 25px;
    opacity: 90%;
}

.sbore-container {
    position: absolute;
    width: 120vh;
    height: 90vh;
    margin: 5vh;
    font-size: 24px;
    font-style: italic;
    color: #fff;
}

.ppp {
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 40px;


}

.footer {
    width: 100%;
    height: 4vh;
    background-color: #d3cfcf;
    text-align: center;
}

.footer2 {
    bottom: 0;
    position: fixed;
}


.formulario {
   margin: 0;
   width: 100%;
   height: 100%;
   

}
.col-md-5 {
    padding: 20px;
    margin: 10% 0 0 50%;
    border-radius: 25px;
    background-color: #4b6596;
}

